@using Opskriftplanen.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Opskriftplanen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <script src="https://kit.fontawesome.com/23be5db119.js" crossorigin="anonymous"></script>
</head>
<body class="search-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="Users" asp-controller="Home" asp-action="Index">Opskriftplanen</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.Admin))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Managment
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Kategori</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Ingredient" asp-area="Admin">Ingredienser</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="MeasurmentUnit" asp-area="Admin">Måle Enheder</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Recipe" asp-area="Admin">Opskrift</a>
                                    <a class="dropdown-item">Madplan</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Admin">Brugere</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-action="Index" asp-controller="UserRecipe" asp-area="Users">Opskrift</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="UserWeekPlan" asp-area="Users">Madplan</a>
                            </div>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssRecipeListCount) != null)
                        {
                            <li style="color: white;">
                                <a asp-area="Users" asp-controller="Plan" asp-action="Index" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssRecipeListCount);
                                    }
                                    <i class="far fa-list-alt"></i> &nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-compact-disc"></i> &nbsp; (0)
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color: #343a40;">
        <div class="container">
            &copy; 2020 - Opskriftplanen
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
