@model Opskriftplanen.Models.ViewModels.PlanDetailsList
@using Opskriftplanen.Extensions
@{
    ViewData["Title"] = "Weekplan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.RecipeList.Count > 0)
    {
        <br />
        <input id="userId" asp-for="@Model.RecipeList[0].ApplicationUserId" hidden />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fade fa-shooping-cart"></i> &nbsp;
                            Leje Oversigt
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Plan" asp-action="Index" class="btn btn-outline-info btn-sm">Tilbage til List</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">Ugeplan Detaljer:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Navn</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.PlanHeader.Name" id="txtName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Uge</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.WeekPlan.Week" id="txtName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Mandag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Tirsdag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Onsdag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Torsdag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Fredag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Lørdag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Søndag</label>
                                        </div>
                                        <div class="col-9">
                                            @for (var i = 0; i < Model.RecipeList.Count(); i++)
                                            {
                                                <select asp-for="@Model.RecipeList[i].ResipesId" id="ResipeId" asp-items="@Model.Recipe.ToSelectListItem(Model.RecipeList[i].ResipesId)" class="form-control"></select>
                                            }
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-lg-5 offset-lg-1">

                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Ugeplan Oversigt:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @foreach (var details in Model.RecipeList)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@details.Recipes.Name</h6>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-4 offset-md-8">
                                <button type="submit" id="btnWeekplan" onclick="return validateInput()" value="Weekplan" class="btn btn-success form-control">Gem ugeplan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhiteBorder">Der er ikke lagt noget til listen...</div>
    }
</form>
