@model Opskriftplanen.Models.ViewModels.RecipeViewModel
@using Opskriftplanen.Extensions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Rediger Opskrift</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="bordoer backgroundWhite row">
        <input type="hidden" asp-for="Recipes.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipes.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipes.Name" class="form-control" />
                </div>
                <span asp-validation-for="Recipes.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipes.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Recipes.Description)
                </div>
                <span asp-validation-for="Recipes.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipes.PersonCount" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipes.PersonCount" class="form-control" />
                </div>
                <span asp-validation-for="Recipes.PersonCount" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipes.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipes.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Recipes.CategoryId" id="CategoryId" asp-items="Model.category.ToSelectListItem(Model.Recipes.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <a class="btn btn-info" href="javascript:addRow()">Tilføj række</a>
            <div class="form-group row">
                <div class="col-2">

                </div>
                <div class="col-5">
                    <table id="formTable">
                        <thead>
                            <tr>
                                <th><label class="col-form-label">Ingrediens</label></th>
                                <th><label class="col-form-label">Vægt</label></th>
                                <th><label class="col-form-label">Måle Enhed</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ingredientCollections)
                            {
                                <tr>
                                    <td><input asp-for="@item.Ingredient.Name" name="ingredient" id="IngredientId" asp-items="Model.Ingredient.ToSelectListItem(item.IngredientId)" placeholder="Vælg Ingrediens" class="form-control" style="width: 200px;"></input></td>
                                    <td><input asp-for="@item.Measur" type="number" name="measure" style="width: 80px;" /></td>
                                    <td><input asp-for="@item.MeasurmentUnit.Name" name="measurmenUnit" id="MeasurmentUnitId" asp-items="Model.MeasurmentUnit.ToSelectListItem(item.MeasurmentUnitId)" placeholder="Måle enhed" class="form-control" style="width: 100px;"></input></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3 offset-1">
                <img src="@Model.Recipes.Image" width="100%" style="border-radius:5px; border: 1px solid #bbb9b9;" />
            </div>
            <div class="col-8">
                <div class="col-8 offset-4">
                    <partial name="_EditAndBackToListButton" model="Model.Recipes.Id" />
                </div>
            </div>
        </div>

    </div>
</form>
@section Scripts{
    <script>
        function addRow() {
            $("#formTable tbody tr:first").clone().find("select").each(function () {
                $(this).val('');
            }).end().appendTo("#formTable");
        }
    </script>

}
